<div class="col-md-8 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="exampleInputNombre">Nombre</label>
          <input name="nombre" [(ngModel)]="usuarioAdmin.nombre" type="text" class="form-control" placeholder="Enter Nombre"
            autofocus>
        </div>
        <div class="form-group">
          <label for="exampleInputApellido">Apellido</label>
          <input name="apellido" [(ngModel)]="usuarioAdmin.apellido" type="text" class="form-control"
            placeholder="Enter Apellido">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" [(ngModel)]="usuarioAdmin.password" type="password" class="form-control"
            placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name="correo" [(ngModel)]="usuarioAdmin.correo" type="email" class="form-control"
            aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie
            más..</small>
        </div>
        <div class="form-group">
          <label for="exampleInputTelefono">Telefono</label>
          <input name="telefono" [(ngModel)]="usuarioAdmin.telefono" type="text" class="form-control"
            placeholder="Enter Telefono">
        </div>

        <div class="form-group">
          <label for="exampleInputFotografia">Fotografia</label>
          <input name="fotografia" [(ngModel)]="usuarioAdmin.fotografia" type="file" class="form-control"
            placeholder="Ingrese Path">
        </div>

        <div class="form-group">
            <label for="exampleInputGenero">Genero</label>
          <select class="form-control" #genero>
            <option>Hombre</option>
            <option>Mujer</option>
            <option>Otro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleInputTelefono">Fecha de Nacimiento</label>
          <input name="fecha_de_nacimiento" [(ngModel)]="usuarioAdmin.fecha_de_nacimiento" type="text" class="form-control"
            placeholder="Enter Fecha de Nacimiento" bsDatepicker>
        </div>
        <div class="form-group">
          <label for="exampleInputTelefono">Direccion</label>
          <input name="direccion" [(ngModel)]="usuarioAdmin.direccion" type="text" class="form-control"
            placeholder="Enter Direccion">
        </div>

        <div class="form-group">
            <label for="exampleInputGenero">Tipo Usuario</label>
          <select class="form-control" #tipo_usuario>
            <option>Administrador</option>
            <option>Help Desk</option>
            <option>Cliente</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success btn-block"
          (click)="registrarUsuarioAdmin(genero,tipo_usuario)">Registrar</button>
      </form>
    </div>
  </div>
</div>