<div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email" #email autofocus>
            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie
              más..</small>
          </div>
          
  
          <button type="submit" class="btn btn-success btn-block" (click)="recuperar(email)">Recuperar Password</button>
        </form>
      </div>
    </div>
  </div>