<div class="jumbotron">
  <div class="container">
    <p style="text-align: center"><font size="5">Publishes and sells su mejor opcion</font></p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wf4F2-9UXUo" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Vision</h2>
      <p>Ser una empresa  líder y reconocida en la venta de productos, lograr también extendernos,   proporcionando cada día más un servicio de excelencia a nuestros clientes y que al mismo tiempo nos permitan competir en el mercado nacional con los mejores precios del mercado.</p>
      
    </div>
    <div class="col-md-4">
      <h2>Mision</h2>
      <p>Ofrecer a nuestros clientes  productos de calidad, a precios cómodos  que cumplan con sus necesidades y exigencias, abarcando sus gustos de acuerdo a su estilo de ver y vivir la vida.</p>
      
    </div>
    <div class="col-md-4">
      <h2>About me</h2>
      <p>Publishes and sells es el una tienda en linea de Julio Cotzojay. Ofreciendo servicios de compra, venta y soporte; Publishes and sells establece el estándar para experiencias de usuario a medida</p>
      
    </div>
  </div>

  <hr>

</div> <!-- /container -->